<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styels.css">
</head>
<body>
    <div class="background">
        <div class="login-container">
        

            <!-- Flash messages (sadece success olmayanlar gösterilir) -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="flash-messages">
                  {% for category, message in messages %}
                    {% if category != 'success' %}
                      <div class="alert {{ category }}">{{ message }}</div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            <form method="POST" action="/login">
                <div class="input-group">
                    <input type="text" name="username" placeholder="Username or email" required>
                </div>

                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>

                <button class="login-btn" type="submit">Log in</button>
            </form>

            <div class="password-reset">
                <a href="/forgot-password">Forgot your password?</a>
            </div>

            <div class="register-option">
                <a href="/register" class="register-btn">Sign in</a>
            </div>
        </div>
    </div>
</body>
</html>
